<div class="input-group p-2">
  <input [(ngModel)]="name" type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs"/>
  <button (click)="addWord(name)" class="btn btn-square">+</button>
</div>

<div *ngIf="words">
  <div class="overflow-x-auto">
    <table class="table table-compact w-full">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Job</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let word of words">
          <td></td>
          <td>
            <input
              type="text"
              placeholder=""
              [(ngModel)]="word.name"
              class="input  input-sm"
            />
          </td>
          <td>
            <input
              type="text"
              placeholder=""
              [(ngModel)]="word.translate"
              class="input w-full input-sm"
            />
          </td>
          <td>
            <input
              type="checkbox"
              [(ngModel)]="word.done"
              (change)="doneWord(word)"
              class="toggle"
            />
          </td>
          <td>
            <button class="btn btn-square btn-ghost" (click)="updateWord(word)">
              <i class="fa-solid fa-plus"></i>
            </button>
            <button class="btn btn-square btn-ghost" (click)="deleteWord(word.id)">
              <i class="fa-solid fa-trash-can"></i>
            </button>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>


