<div *ngIf="words">
  <div class="overflow-x-auto">
    <div class="container mx-auto p-2">
      <div class="input-group p-2">
        <input [(ngModel)]="name" type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs"/>
        <button (click)="addWord(name)" class="btn btn-square">+</button>
      </div>

      <span class="divider"></span>

      <div class="flex gap-2 items-center bg-base-300 shadow">
        <div class="flex-1 p-4">Name</div>
        <div class="flex-1 p-4">Job</div>
        <div class="w-14"></div>
        <div class="w-14"></div>
      </div>
      <div>

        <form
          *ngFor="let word of words; let odd = odd;"
          (change)="update(word)"
          [class.bg-base-300]="odd"
          class="flex gap-2 items-center"
        >
          <div class="flex-1">
            <input
              type="text"
              placeholder=""
              name="name"
              [(ngModel)]="word.name"
              class="input input-sm input-ghost w-full"
            />
          </div>
          <div class="flex-1">
            <input
              type="text"
              placeholder=""
              name="translate"
              [(ngModel)]="word.translate"
              class="input input-sm input-ghost w-full"
            />
          </div>
          <div class="flex items-center w-14">
            <input
              type="checkbox"
              name="done"
              [(ngModel)]="word.done"
              class="toggle toggle-sm"
            />
          </div>
          <div class="w-14">
            <button class="btn btn-square btn-ghost" (click)="deleteWord(word.id)">
              <i class="fa-solid fa-trash-can"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


